.nav-link{
  margin-left: 50px;
  color: white;
}

.imagen{
  width: 150px;
  height: 150px;
}

h1{
  color: white;
}

a{
  font-size: 30px
}

.projectos{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
