<div class="contacto">
  <h1 class="projectos">CONTACT</h1>
  <div class="columnas">
    <div class="columna">
      <div class="item">
        <img src="../assets/phone.svg" height="100" width="150" alt="" class="imagen">
        <label class="telefono">+57 3172889288</label>
      </div>
      <div class="item">
        <img src="../assets/email.svg" height="100" width="150" alt="" class="imagen">
        <label class="telefono">sandovalsanty@outlook.com </label>
      </div>
    </div>
    <div class="columna">
      <div class="item">
        <img src="../assets/location.svg" height="100" width="150" alt="" class="imagen">
        <label class="telefono">Calle 8A #88-90 Torres de nueva Castilla 1<br> Bogotá D.C, Colombia</label>
      </div>
      <div class="item">
        <img src="../assets/linkedin.svg" height="100" width="150" alt="" class="imagen">
        <label class="telefono">https://www.linkedin.com/in/<br>santiago-sandoval-novoa-04410a1b2/ </label>
      </div>
    </div>
  </div>
</div>
