.projectos{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contacto{
  background-color: blueviolet;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.telefono{
  color: white;
  font-size: 18px;
}

.imagen {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

.columnas {
  display: flex;
  justify-content: space-around; /* Espacio entre columnas */
}

.columna {
  display: flex;
  flex-direction: column; /* Elementos apilados verticalmente en cada columna */
  align-items: center; /* Centro de alineación vertical */
  margin: 20px; /* Espaciado entre columnas */
}

.item {
  display: flex;
  align-items: center;
  margin: 10px; /* Espaciado entre los elementos */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .centrar {
    flex-direction: column;
    gap: 20px;
  }

  .imagen {
    width: 60px;
  }

  .telefono {
    font-size: 16px;
  }
}
