<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="../assets/angular.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/react.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/html.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/css.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/figma.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/javascript.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/adobe-premiere.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/adobe-photoshop.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/androidstudio.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/azure-devops.svg" height="100" width="250" alt="">
    </div>

    <div class="slide">
      <img src="../assets/angular.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/react.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/html.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/css.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/figma.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/javascript.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/adobe-premiere.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/adobe-photoshop.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/androidstudio.svg" height="100" width="250" alt="">
    </div>
    <div class="slide">
      <img src="../assets/azure-devops.svg" height="100" width="250" alt="">
    </div>
  </div>
</div>
