<div class="">
  <app-navbar></app-navbar>
  <h2 class="titulo2">SANTIAGO SANDOVAL</h2>
  <h1 class="titulo1">FRONT-END DEVELOPER</h1>

  <h1 class="sobre-mi">ABOUT ME</h1>
  <p class="introduccion">
    I am Santiago Sandoval Novoa, graduated from Universidad Libre in the career of Systems Engineering,
    focused on front-end development, and UI/UX design, I am willing to contribute to any project that requires that field and while providing new ideas.
     I am someone open to collaborate in different tasks and to lead them.
  </p>

  <h1 class="projectos">PROJECTS</h1>
  <div class="contenedor">
    <button onclick="window.location.href='https://github.com/santiago1544?tab=repositories';" class=" boton">
      <h1>GitHub with previous projects</h1>
    </button>
  </div>

  <br> <br>
  <h1 class="projectos">KNOWLEDGE</h1>
  <app-ruleta></app-ruleta>

  <br> <br>

  <app-contacto></app-contacto>

</div>
